.user-container {
  background-color: rgba(238, 238, 238, 0.945);
  color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 65%;
  margin: 20px auto;
  border: 7px solid #ccc;
  padding: 20px;
  position: relative;
}

.user-image {
  flex: 1;
  margin-right: 20px;
}

.user-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #ccc;
}

.user-details h3{
  flex: 2;
  font-size: 34px;
}

.user-details {
  flex: 2;
  font-size: 22px;
}

.user-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
  margin-left: 5px;
  font-size: 25px;
  color: rgb(108, 108, 108);
  transform: scale(1);
}


.edit-icon{
  margin-right: 5px;
}

 .delete-icon:hover,
 .edit-icon:hover{
  opacity: 0.5;
} 

/* Дополнительные стили для центрирования и сдвига текста */
.user-details {
  display: flex;
  flex-direction: column;
}

h3,
p,
b {
  margin: 0;
}

@media (max-width: 768px) {
  .user-container {
    max-width: 100%; /* Полная ширина на мобильных устройствах */
    border: 3px solid #ccc; /* Более тонкая граница на мобильных */
    padding: 10px; /* Уменьшенный отступ на мобильных */
  }

  .user-image {
    margin-right: 0; /* Убираем отступ справа на мобильных */
    margin-bottom: 10px; /* Добавляем отступ снизу на мобильных */
  }

  .user-details {
    font-size: 18px; /* Уменьшенный размер шрифта на мобильных */
  }

  .user-details h3 {
    font-size: 28px; /* Уменьшенный размер заголовка на мобильных */
  }

  .user-actions {
    position: static; /* Отменяем абсолютное позиционирование на мобильных */
    display: flex; /* Показываем действия пользователя в потоке на мобильных */
    justify-content: space-between; /* Распределяем их равномерно на мобильных */
    margin-top: 10px; /* Добавляем отступ сверху на мобильных */
  }

  .delete-icon,
  .edit-icon {
    font-size: 20px; /* Уменьшенный размер иконок на мобильных */
    margin: 0; /* Сбрасываем отступы иконок на мобильных */
  }
}